<a href="https://colab.research.google.com/github/MaxSMCON/Group_2/blob/main/Group_2_Stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Group 2 Project

## Global food in 

in this project we are going to investigate

In [ ]:
# https://drive.google.com/file/d/1SbW8ns8H5HDE0FVH5pvZ5GkGUdPV_RgY/view?usp=sharing

In [27]:
import pandas as pd
from pandas_profiling import ProfileReport

import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
plt.style.use(style='ggplot')
import seaborn as sns
%matplotlib inline
from IPython.display import display
import requests
import io
from io import StringIO
# Sklearn
from sklearn.model_selection import train_test_split, GridSearchCV 
from sklearn.metrics import f1_score, plot_confusion_matrix
from sklearn.model_selection import cross_val_score

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

from sklearn.svm import SVC
from sklearn import metrics

# StatsModel
from statsmodels.formula.api import ols
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [ ]:
# 1MfuleO34g6ZP1saJ1Ej7J7p4SCWYkAmG1MfuleO34g6ZP1saJ1Ej7J7p4SCWYkAmG
#https://drive.google.com/file/d/1SbW8ns8H5HDE0FVH5pvZ5GkGUdPV_RgY/view?usp=sharing

# https://drive.google.com/file/d/1SbW8ns8H5HDE0FVH5pvZ5GkGUdPV_RgY/view?usp=sharing

# Loading the dataset from goolgle drive

In [2]:
!pip install googledrivedownloader #black magic
from google_drive_downloader import GoogleDriveDownloader as gdd
gdd.download_file_from_google_drive(file_id="1SbW8ns8H5HDE0FVH5pvZ5GkGUdPV_RgY",
                                    dest_path="./global_food_prices.csv",
                                    unzip=False)
data = pd.read_csv("global_food_prices.csv")
df = data.copy()
df.head()

Requirement already satisfied: googledrivedownloader in /usr/local/lib/python3.7/dist-packages (0.4)
Downloading 1SbW8ns8H5HDE0FVH5pvZ5GkGUdPV_RgY into ./global_food_prices.csv... Done.

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adm0_id    adm0_name  adm1_id  ... mp_year  mp_price mp_commoditysource
0      1.0  Afghanistan      272  ...    2014      50.0                NaN
1      1.0  Afghanistan      272  ...    2014      50.0                NaN
2      1.0  Afghanistan      272  ...    2014      50.0                NaN
3      1.0  Afghanistan      272  ...    2014      50.0                NaN
4      1.0  Afghanistan      272  ...    2014      50.0                NaN

[5 rows x 18 columns]

In [30]:
url = 'https://raw.githubusercontent.com/MaxSMCON/Group_2/main/Data%20Storage/GDP.csv'
df_gdp = pd.read_csv(url, index_col=0, encoding= 'latin-1' )
df_gdp.head()

                                  Subject Descriptor  ... Estimates Start After
Country                                               ...
Afghanistan  Gross domestic product, constant prices  ...                2019.0
Albania      Gross domestic product, constant prices  ...                2020.0
Algeria      Gross domestic product, constant prices  ...                2019.0
Andorra      Gross domestic product, constant prices  ...                2020.0
Angola       Gross domestic product, constant prices  ...                2020.0

[5 rows x 36 columns]

In [34]:
url1 = 'https://raw.githubusercontent.com/MaxSMCON/Group_2/main/Data%20Storage/cost%20of%20living%202020.csv'
df_cost = pd.read_csv(url1,index_col=0)
df_cost.head()

               Country  Cost of Living Index  ...  McMeal($)  Unnamed: 9
Rank 2020                                     ...
1              Bermuda                147.77  ...       0.00         NaN
2          Switzerland                125.69  ...      15.36         NaN
3               Norway                 96.80  ...      12.36         NaN
4              Iceland                 90.19  ...      13.31         NaN
5                Japan                 86.22  ...       6.70         NaN

[5 rows x 9 columns]

In [ ]:
df = data.copy()
df.head()

   adm0_id    adm0_name  adm1_id  ... mp_year  mp_price mp_commoditysource
0      1.0  Afghanistan      272  ...    2014      50.0                NaN
1      1.0  Afghanistan      272  ...    2014      50.0                NaN
2      1.0  Afghanistan      272  ...    2014      50.0                NaN
3      1.0  Afghanistan      272  ...    2014      50.0                NaN
4      1.0  Afghanistan      272  ...    2014      50.0                NaN

[5 rows x 18 columns]

## Renamin columns

In [ ]:
df = df.rename(columns = {'adm0_name' : 'country', 'mkt_name': 'city',} )
df = df.drop(columns= {'adm1_name'})
df.head()

   adm0_id      country  adm1_id  ...  mp_year mp_price  mp_commoditysource
0      1.0  Afghanistan      272  ...     2014     50.0                 NaN
1      1.0  Afghanistan      272  ...     2014     50.0                 NaN
2      1.0  Afghanistan      272  ...     2014     50.0                 NaN
3      1.0  Afghanistan      272  ...     2014     50.0                 NaN
4      1.0  Afghanistan      272  ...     2014     50.0                 NaN

[5 rows x 17 columns]

## Leaving comodity names with the first words

In [ ]:
df['cm_name'] = df['cm_name'].str.split(" ", 1, expand = True)
df['cm_name'].head()

0    Bread
1    Bread
2    Bread
3    Bread
4    Bread
Name: cm_name, dtype: object

In [ ]:
df.head()

   adm0_id      country  adm1_id  ...  mp_year mp_price  mp_commoditysource
0      1.0  Afghanistan      272  ...     2014     50.0                 NaN
1      1.0  Afghanistan      272  ...     2014     50.0                 NaN
2      1.0  Afghanistan      272  ...     2014     50.0                 NaN
3      1.0  Afghanistan      272  ...     2014     50.0                 NaN
4      1.0  Afghanistan      272  ...     2014     50.0                 NaN

[5 rows x 17 columns]

In [ ]:
df.nunique()

adm0_id                   98
country                   98
adm1_id                  894
mkt_id                  3266
city                    3235
cm_id                    636
cm_name                  160
cur_id                     1
cur_name                  84
pt_id                      4
pt_name                    4
um_id                    125
um_name                  125
mp_month                  12
mp_year                   32
mp_price              239811
mp_commoditysource         0
dtype: int64

In [ ]:
df.isnull().sum()

adm0_id                     0
country                     0
adm1_id                     0
mkt_id                      0
city                        0
cm_id                       0
cm_name                     0
cur_id                      0
cur_name                    0
pt_id                       0
pt_name                     0
um_id                       0
um_name                     0
mp_month                    0
mp_year                     0
mp_price                    0
mp_commoditysource    2050638
dtype: int64

In [ ]:
df.groupby(['country'])['mp_price'].mean()

country
Afghanistan    23177.212745
Algeria          164.961907
Angola          1038.963442
Argentina         25.776991
Armenia          818.423680
                   ...
Venezuela       5471.000317
Viet Nam        7541.105711
Yemen           2884.864064
Zambia             8.187023
Zimbabwe         123.749395
Name: mp_price, Length: 98, dtype: float64

<li> Dollar convertion as of today for better representation