<a href="https://colab.research.google.com/github/MaxSMCON/Group_2/blob/main/Group_2_Stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Group 2 Project

## Global food in 

in this project we are going to investigate

In [ ]:
# https://drive.google.com/file/d/1SbW8ns8H5HDE0FVH5pvZ5GkGUdPV_RgY/view?usp=sharing

In [1]:
import pandas as pd
from pandas_profiling import ProfileReport

import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
plt.style.use(style='ggplot')
import seaborn as sns
%matplotlib inline
from IPython.display import display
import requests
import io
from io import StringIO
# Sklearn
from sklearn.model_selection import train_test_split, GridSearchCV 
from sklearn.metrics import f1_score, plot_confusion_matrix
from sklearn.model_selection import cross_val_score

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

from sklearn.svm import SVC
from sklearn import metrics

# StatsModel
from statsmodels.formula.api import ols
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
# 1MfuleO34g6ZP1saJ1Ej7J7p4SCWYkAmG1MfuleO34g6ZP1saJ1Ej7J7p4SCWYkAmG
#https://drive.google.com/file/d/1SbW8ns8H5HDE0FVH5pvZ5GkGUdPV_RgY/view?usp=sharing

# https://drive.google.com/file/d/1SbW8ns8H5HDE0FVH5pvZ5GkGUdPV_RgY/view?usp=sharing

# Loading the Glovbal Food dataset from goolgle drive [Fact Table]

In [2]:
!pip install googledrivedownloader #black magic
from google_drive_downloader import GoogleDriveDownloader as gdd
gdd.download_file_from_google_drive(file_id="1SbW8ns8H5HDE0FVH5pvZ5GkGUdPV_RgY",
                                    dest_path="./global_food_prices.csv",
                                    unzip=False)
data = pd.read_csv("global_food_prices.csv")
df = data.copy()
df.head()

Requirement already satisfied: googledrivedownloader in /usr/local/lib/python3.7/dist-packages (0.4)
Downloading 1SbW8ns8H5HDE0FVH5pvZ5GkGUdPV_RgY into ./global_food_prices.csv... Done.

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adm0_id    adm0_name  adm1_id  ... mp_year  mp_price mp_commoditysource
0      1.0  Afghanistan      272  ...    2014      50.0                NaN
1      1.0  Afghanistan      272  ...    2014      50.0                NaN
2      1.0  Afghanistan      272  ...    2014      50.0                NaN
3      1.0  Afghanistan      272  ...    2014      50.0                NaN
4      1.0  Afghanistan      272  ...    2014      50.0                NaN

[5 rows x 18 columns]

## Loading GDP data from GitHub

In [3]:
url = 'https://raw.githubusercontent.com/MaxSMCON/Group_2/main/Data%20Storage/GDP.csv'
df_gdp = pd.read_csv(url, index_col=0, encoding= 'latin-1' )
df_gdp.head()

                                  Subject Descriptor  ... Estimates Start After
Country                                               ...
Afghanistan  Gross domestic product, constant prices  ...                2019.0
Albania      Gross domestic product, constant prices  ...                2020.0
Algeria      Gross domestic product, constant prices  ...                2019.0
Andorra      Gross domestic product, constant prices  ...                2020.0
Angola       Gross domestic product, constant prices  ...                2020.0

[5 rows x 36 columns]

## loading cost of living dataset from GitHUb

In [4]:
url1 = 'https://raw.githubusercontent.com/MaxSMCON/Group_2/main/Data%20Storage/cost%20of%20living%202020.csv'
df_cost = pd.read_csv(url1,index_col=0)
df_cost.head()

               Country  Cost of Living Index  ...  McMeal($)  Unnamed: 9
Rank 2020                                     ...
1              Bermuda                147.77  ...       0.00         NaN
2          Switzerland                125.69  ...      15.36         NaN
3               Norway                 96.80  ...      12.36         NaN
4              Iceland                 90.19  ...      13.31         NaN
5                Japan                 86.22  ...       6.70         NaN

[5 rows x 9 columns]

## LOADING Coutries list by region [Dimension Table]

In [5]:
url = 'https://raw.githubusercontent.com/MaxSMCON/Group_2/main/Data%20Storage/UNSD%20%E2%80%94%20Methodology.csv '
df_countries = pd.read_csv(url, index_col=0)
df_region = df_countries[['Region Name','Intermediate Region Name','Country or Area'] ]
df_region = df_region.rename( columns = {'Region Name': 'Continent', 'Intermediate Region Name': 'Region', 'Country or Area': 'Country' })
df_region.head()

            Continent           Region  Country
Global Code
1              Africa  Northern Africa  Algeria
1              Africa  Northern Africa    Egypt
1              Africa  Northern Africa    Libya
1              Africa  Northern Africa  Morocco
1              Africa  Northern Africa    Sudan

In [38]:
# Removing duplicates from country list
df_region = df_region.drop_duplicates(subset = ['Country'])

In [6]:
df = data.copy()
df.head()

   adm0_id    adm0_name  adm1_id  ... mp_year  mp_price mp_commoditysource
0      1.0  Afghanistan      272  ...    2014      50.0                NaN
1      1.0  Afghanistan      272  ...    2014      50.0                NaN
2      1.0  Afghanistan      272  ...    2014      50.0                NaN
3      1.0  Afghanistan      272  ...    2014      50.0                NaN
4      1.0  Afghanistan      272  ...    2014      50.0                NaN

[5 rows x 18 columns]

# Renaming columns

In [15]:
df = df.rename(columns = {'adm0_name' : 'Country', 'mkt_name': 'city',} )
df = df.drop(columns= {'adm1_name'})
df.head()

   adm0_id      Country  adm1_id  ...  mp_year mp_price  mp_commoditysource
0      1.0  Afghanistan      272  ...     2014     50.0                 NaN
1      1.0  Afghanistan      272  ...     2014     50.0                 NaN
2      1.0  Afghanistan      272  ...     2014     50.0                 NaN
3      1.0  Afghanistan      272  ...     2014     50.0                 NaN
4      1.0  Afghanistan      272  ...     2014     50.0                 NaN

[5 rows x 17 columns]

## Leaving comodity names with the first words

In [ ]:
df['cm_name'] = df['cm_name'].str.split(" ", 1, expand = True)
df['cm_name'].head()

0    Bread
1    Bread
2    Bread
3    Bread
4    Bread
Name: cm_name, dtype: object

In [ ]:
df.head()

   adm0_id      country  adm1_id  ...  mp_year mp_price  mp_commoditysource
0      1.0  Afghanistan      272  ...     2014     50.0                 NaN
1      1.0  Afghanistan      272  ...     2014     50.0                 NaN
2      1.0  Afghanistan      272  ...     2014     50.0                 NaN
3      1.0  Afghanistan      272  ...     2014     50.0                 NaN
4      1.0  Afghanistan      272  ...     2014     50.0                 NaN

[5 rows x 17 columns]

## Reshaping table

In [ ]:
# Pivoting tables under construction
# df = df.pivot(columns = 'cm_name', values = 'pt_id')
# df.head()

cm_name  Alcohol  Anchovies  Apples  Avocados  ...  Yam  Yeast  Yogurt  Zucchini
0            NaN        NaN     NaN       NaN  ...  NaN    NaN     NaN       NaN
1            NaN        NaN     NaN       NaN  ...  NaN    NaN     NaN       NaN
2            NaN        NaN     NaN       NaN  ...  NaN    NaN     NaN       NaN
3            NaN        NaN     NaN       NaN  ...  NaN    NaN     NaN       NaN
4            NaN        NaN     NaN       NaN  ...  NaN    NaN     NaN       NaN

[5 rows x 160 columns]

## merging food prices with country region

In [40]:

df5 = pd.merge(
    df,
    df_region,
    # left_on=('Country'),
    # right_on=('Country'),
    
    how='left',
    on = 'Country',
    validate = 'many_to_one'
)
df5.head()

   adm0_id      Country  adm1_id  ...  mp_commoditysource Continent         Region
0      1.0  Afghanistan      272  ...                 NaN      Asia  Southern Asia
1      1.0  Afghanistan      272  ...                 NaN      Asia  Southern Asia
2      1.0  Afghanistan      272  ...                 NaN      Asia  Southern Asia
3      1.0  Afghanistan      272  ...                 NaN      Asia  Southern Asia
4      1.0  Afghanistan      272  ...                 NaN      Asia  Southern Asia

[5 rows x 19 columns]

In [41]:
# Merge Check
print(df.shape)
df5.shape

(2050638, 17)

(2050638, 19)

In [42]:
df5.isnull().sum()

adm0_id                     0
Country                     0
adm1_id                     0
mkt_id                      0
city                        0
cm_id                       0
cm_name                     0
cur_id                      0
cur_name                    0
pt_id                       0
pt_name                     0
um_id                       0
um_name                     0
mp_month                    0
mp_year                     0
mp_price                    0
mp_commoditysource    2050638
Continent              170050
Region                 170050
dtype: int64

## Group by Continent, Region, Country

In [51]:
df5.groupby(['Continent', 'Region', 'Country'])['mp_price'].agg({'mean', 'count', 'std'}).round(1)

                                                 std  count    mean
Continent Region         Country
Africa    Eastern Africa Burundi              4177.2  60921  2516.9
                         Djibouti             2150.0   6006   802.7
                         Eritrea               864.2    100  2272.0
                         Ethiopia             2565.5  24627  1219.6
                         Kenya                1958.2   8884  1192.0
...                                              ...    ...     ...
Asia      Western Asia   Turkey                 24.6  10483    17.4
                         Yemen               10565.1  36806  2884.9
Europe    Eastern Europe Belarus                 0.8    444     1.0
                         Russian Federation      3.7   1080    13.8
                         Ukraine                28.2  29091    27.9

[90 rows x 3 columns]

<li> Dollar convertion as of today for better representation